.vscode/
.DS_Store
settings.json
.Rhistory
.ipynb_checkpoints
*_pm.tsv
*_pm.csv
**/0_initial_files/
.log
*~
bin/gnfinder
ci_env
default.profraw
callgrind.*
/.gradle/
/src/2_curating/2_editing/organism/2_translating_organism_kotlin/.gradle/
/src/2_curating/2_editing/organism/2_translating_organism_kotlin/build/
.idea
__pycache__/
.pyc
src/local_pma
/src/.RData
/src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/build/
/src/2_curating/2_editing/organism/subscripts/2_translating_organism_kotlin/.gradle/
/src/Rplots.pdf
